In [2]:
from imports import * 
stroke_df = pd.read_csv("C:/Users/kfroo/OneDrive/Desktop/Thesis/Stroke Prediction Dataset/healthcare-dataset-stroke-data.csv")

In [26]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import sklearn

In [27]:
def load_data(df, split = True):
    X = df.iloc[:,:-1]
    y = df.iloc[:,-1:].squeeze()
    feature_names = X.columns
    if split == False:
        return X, y, feature_names
    if split == True:
        (x_train, y_train), (x_test, y_test) = iai.split_data('classification', X, y,seed = 1)
        return x_train, x_test, y_train, y_test, feature_names

def load_classifier(x_train, y_train, maxdepth = list, min_samples_leaf= list):
   classifier = RandomForestClassifier()
   param_grid = {'max_depth': maxdepth,
                  'criterion' :['gini', 'entropy'],
                  'min_samples_leaf': min_samples_leaf}
   grid_search = sklearn.model_selection.GridSearchCV(estimator=classifier,  
                           param_grid = param_grid, 
                           scoring = ['accuracy', 'f1'],
                           refit = 'accuracy',
                           cv=5, 
                           verbose=True, 
                           return_train_score=True)
   grid_search.fit(x_train, y_train)
   model = grid_search
   return model

In [20]:
stroke_df = stroke_df.dropna().reset_index().drop(['index', 'id'], axis = 1)

In [21]:
x = pd.get_dummies(stroke_df.drop(['stroke'], axis = 1), prefix_sep='_', drop_first=True)
y = stroke_df.iloc[:,-1:].squeeze()

In [22]:
x

,age,hypertension,heart_disease,avg_glucose_level,bmi,gender_Male,gender_Other,ever_married_Yes,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Urban,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,67.0,0,1,228.69,36.6,1,0,1,0,1,0,0,1,1,0,0
1,80.0,0,1,105.92,32.5,1,0,1,0,1,0,0,0,0,1,0
2,49.0,0,0,171.23,34.4,0,0,1,0,1,0,0,1,0,0,1
3,79.0,1,0,174.12,24.0,0,0,1,0,0,1,0,0,0,1,0
4,81.0,0,0,186.21,29.0,1,0,1,0,1,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4904,13.0,0,0,103.08,18.6,0,0,0,0,0,0,1,0,0,0,0
4905,81.0,0,0,125.20,40.0,0,0,1,0,0,1,0,1,0,1,0
4906,35.0,0,0,82.99,30.6,0,0,1,0,0,1,0,0,0,1,0
4907,51.0,0,0,166.29,25.6,1,0,1,0,1,0,0,0,1,0,0
4908,44.0,0,0,85.28,26.2,0,0,1,0,0,0,0,1,0,0,0

In [28]:
depth_list = range(2, 30)
min_leaf = [3, 4, 5]
(x_train, y_train), (x_test, y_test) = iai.split_data('classification', x, y,seed = 1)
model = load_classifier(x_train, y_train, maxdepth=depth_list, min_samples_leaf = min_leaf)
train_accuracy = model.cv_results_.get('mean_train_accuracy')
test_accuracy = model.cv_results_.get('mean_test_accuracy')

Fitting 5 folds for each of 168 candidates, totalling 840 fits